<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Hello</h1>
<form action="/demo.html" method="POST">
    username <input type="text" name="username">
    <br/>
    firstname <input type="text" name="firstname">
    <br>
    lastName <input type="text" name="lastname">
    <br>
    password <input type="password" name="password">
    <br>
    submit <input type="submit" name="submit">
</form>

</body>
</html>